:root {
    --primario: #71b100;
    --secundario: #e08709;
}
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

.bg-success {
    background-color: var(--primario)!important;
}

@media (min-width: 768px) {
    .barra.bg-success {
        background-color: transparent!important;
    }

    .header {
        position: relative;
    }
    .header .barra {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
}
.navbar-brand span {
    font-weight: 900;
}

.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #FFF;
    font-size: .8rem;
}

/* Dropdown */

.dropdown-menu {
    background-color: var(--primario);
}

.dropdown-menu .dropdown-item{
    color: #FFF;
    text-transform: uppercase;
}

.dropdown-menu .dropdown-item:hover{
    background-color: var(--secundario);
}

/** Caption*/

.carousel-caption h3 {
    font-size: 2.4rem;
}

.bloque-info p {
    font-size: 1.4rem;
}

.btn-warning {
    background-color: var(--secundario);
    color: #FFF;
    border-color: var(--secundario);
    font-weight: 700;
}

.carousel-item img {
    max-height: 100vh;
}

/** Nosotros */

.sobre-nosotros h3 {
    font-size: 1rem;
    font-weight: 700;
}

/** ANuncios */

.anuncios .card {
    margin-bottom: 2rem;
}

.card-precio {
    font-size: 1.1rem;
    color: var(--primario);
}

.card-descripcion img {
    margin-right: .5rem;
}

/** Encuentra **/

.encuentra {
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.encuentra .row {
    height: 25rem;
}

.encuentra h3 {
    font-size: 2.2rem;
    font-weight: 900;
}

.entrada h3::after {
    content: '';
    display: block;
    width: 8rem;
    height: .2rem;
    background-color: #71b100;
    margin-top: .5rem;
}

.meta span {
    color: #e08709;
}

.btn-success {
    background-color: #71b100;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-success:hover {
    background-color: #4a7a00;
}

/** Depoimentos **/

.testimoniales {
    background-color: #71b100;
}

.testimoniales .carousel-item {
    padding-left: 2rem;
}

.testimoniales .testimonial-texto {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 300;
}

.testimoniales .testimonial-texto::before {
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    left: 0;
    top: 1rem;
    font-weight: 900;
}

.testimoniales .testimonial-texto span {
    font-size: 1.4rem;
    font-weight: 900;
}

/** Footer **/

.footer.bg-dark {
    background-color: #333!important;
}

.footer .nav-link {
    color: #FFF;
    text-transform: uppercase;
}